button {
    background-color: transparent;
    border: 6px solid rgb(50, 207, 255);
    outline: 3px rgb(50, 207, 255);;
    }
    .special {
    background-color:rgb(131, 226, 255) ;
    }
    
    h5 {
        font-family: "Atkinson Hyperlegible", sans-serif;
      font-weight: 700;
      font-style: normal;
    }
    
    h1 {
          font-family: "Atkinson Hyperlegible", sans-serif;
          font-weight: 700;
          font-style: normal;
    }
    
    div {
        font-family: "Atkinson Hyperlegible", sans-serif;
        font-weight: 100;
        font-style: normal;
 
    
    }
    
    #BreadTitle {
      text-align: center;
      line-height: 0.4rem;
    }
    
    #Beta {
      text-align: center;
      line-height: 0.5rem;
    }
    
    #breadTooth {
      text-align: center;
    }
    
    body {
      line-height: 1.5;
      font-size: 40px;
    }
    
    .section-title {
      font-size: 2.9rem;
     
    }
    
    .section {
      width: 100%;
      font-size: 0rem;
      height: 12.7rem; 
    }
    .Tbutton {
      font-size: 2.4rem;
      touch-action: manipulation;
      height: 86px;

    }

    
    #Aimbot-section {
      height: 10rem;

    }

   .slider-container {
    width: 90%;
    max-width: 900px;
    position: relative;
    
    
   }

   input[type="range" ] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: transparent;
    position: relative;
    z-index: 2;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: var(--track-hight);
    background: rgb(204, 233, 255);
    border-radius: 10px;
    height: 20px;
    
  }

  input[type="range"]::-moz-range-track {
    width: 100%;
    height: var(--track-hight);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  
  }
   
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 100%;
    margin-top: -9px;

    
    

  }
  input[type="range"]::-moz-slider-thumb {
    appearance: none;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 100%;
    margin-top: -9px;
  }
